html, body {
    min-height: 100vh;
}

a:hover {
    text-decoration: underline;
}

h1, h2, h3 {
    font-family: 'Cinzel', serif;
}

.hero img.hero-background {
    position: absolute;
    object-fit: cover;
    object-position: center center;
    width: 100%;
    height: 100%;
}

.hero.has-background {
    position: relative;
    overflow: hidden;
}

.hero.has-background .hero-body {
    z-index: 10;
}

.ud-markdown h2 {
    text-align: center;
}

.ud-markdown figure {
    margin: 2em auto;
}
