@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

$black: #000;

$family-sans-serif: "Roboto", sans-serif;

$primary: $black;
$link: $black;

@import "../node_modules/bulma/bulma.sass";

